@charset "UTF-8";

@font-face {
  font-family: "adventosfont";
  src:url("fonts/adventosfont.eot");
  src:url("fonts/adventosfont.eot?#iefix") format("embedded-opentype"),
    url("fonts/adventosfont.woff") format("woff"),
    url("fonts/adventosfont.ttf") format("truetype"),
    url("fonts/adventosfont.svg#adventosfont") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "adventosfont" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "adventosfont" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-administrative-announcements:before {
  content: "\61";
}
.icon-aggressive-behaviour:before {
  content: "\62";
}
.icon-announcements:before {
  content: "\63";
}
.icon-baton:before {
  content: "\64";
}
.icon-caring-and-sharing:before {
  content: "\65";
}
.icon-command-announcements:before {
  content: "\66";
}
.icon-events:before {
  content: "\67";
}
.icon-fail-to-comply:before {
  content: "\68";
}
.icon-handcuffs:before {
  content: "\69";
}
.icon-handgun:before {
  content: "\6a";
}
.icon-immediate-danger:before {
  content: "\6b";
}
.icon-k9:before {
  content: "\6c";
}
.icon-info:before {
  content: "\6d";
}
.icon-less-lethal:before {
  content: "\6e";
}
.icon-links:before {
  content: "\6f";
}
.icon-longgun:before {
  content: "\70";
}
.icon-oc-spray:before {
  content: "\71";
}
.icon-operations-announcements:before {
  content: "\72";
}
.icon-person:before {
  content: "\73";
}
.icon-physical-control:before {
  content: "\74";
}
.icon-recent-discussions:before {
  content: "\75";
}
.icon-resistance:before {
  content: "\76";
}
.icon-roll-call-pass-on:before {
  content: "\77";
}
.icon-selling:before {
  content: "\78";
}
.icon-sharing:before {
  content: "\79";
}
.icon-shutgun:before {
  content: "\7a";
}
.icon-taser:before {
  content: "\41";
}
.icon-use-of-force:before {
  content: "\42";
}
.icon-wanted:before {
  content: "\43";
}
.icon-sf-brand:before {
  content: "\44";
}
.icon-sun:before {
  content: "\45";
}
.icon-moon:before {
  content: "\46";
}
.icon-adv-brand:before {
  content: "\47";
}
